<div class="container mx-auto p-4">
  <div class="flex justify-end mb-4">
    <button routerLink="/coupons/add" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Adicionar Novo Cupão
    </button>
  </div>
  <table class="min-w-full bg-white">
    <thead class="bg-gray-800 text-white">
    <tr>
      <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm">Código</th>
      <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm">Desconto (%)</th>
      <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm">Validade</th>
      <th class="py-3 px-4 uppercase font-semibold text-sm">Ações</th>
    </tr>
    </thead>
    <tbody class="text-gray-700">
    <tr *ngFor="let coupon of coupons" class="hover:bg-gray-100">
      <td class="w-1/4 py-3 px-4">{{ coupon.code }}</td>
      <td class="w-1/4 py-3 px-4">{{ coupon.discountPercentage }}</td>
      <td class="w-1/4 py-3 px-4">{{ coupon.expirationDate }}</td>
      <td class="py-3 px-4">
        <button (click)="editCoupon(coupon.code)" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-2 rounded mr-2">Editar</button>
        <button (click)="deleteCoupon(coupon.id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Remover</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
